<%- include("partials/header") -%>
<script src="https://kit.fontawesome.com/bdc0ef0ab3.js" crossorigin="anonymous"></script>

<section id="landing">

        <div class="landing-dashboard">
            <div class="dashboard-header">
                <h1 class="mainHeading">
                    Hi there, <%= userName %>!
                </h1>
                <div class="time">
                    3:28 AM
                </div>
            </div>

            <ul class="dashboard-options">
                <li class="dashboard-option dashboard-option-1 current"> <a class="dashboard-option" href="/current">
                    <img style="width:25px;" src="/icons/heart.png" alt=""> <span>Current</span></a>
                </li>
                <li class="dashboard-option dashboard-option-3 pending"> <a class="dashboard-option" href="/pending">
                    <img src="/icons/002-calendar-1.png" alt=""> <span>Pending</span></a>
                </li>
                <li class="dashboard-option dashboard-option-2 important"> <a class="dashboard-option" href="/important">
                    <img src="/icons/006-favourite.png" alt=""> <span>Important</span></a>
                </li>
                <li class="dashboard-option dashboard-option-4 completed"> <a class="dashboard-option" href="/completed">
                    <img src="/icons/009-checked-1.png" alt=""> <span>Completed</span></a>
                </li>
                <li class="dashboard-option dashboard-option-4 all"> <a class="dashboard-option" href="/all">
                    <img src="/icons/010-home.png" alt=""> <span>All Tasks</span></a>
                </li>
            </ul>
        </div>

        <div class="landing-list">
            <div class="list-header">
                <h2 class="list-name">
                    <%= listTitle %>
                </h2>
                <h3 class="list-date">
                    Wednesday, July 06 
                </h3>
            </div>
            <div class="list">
        
                <% if (items.length === 0){%>
                    <div class="no-list-text">
                        List is empty
                    </div>
                    
                <%} else {%>
            <%  items.forEach(element => {            %>
           
                    <div class="listItem">
                        <form action="/completeItem" method="post">
                            <input type="hidden">
                            <input type="hidden">
                            <input type="checkbox" name="" id="">
                        </form>
                        <p> <%= element.data %> </p>

                        <form id="favoriteItem" action="/changeFavorite" method="post">
                            <% if(element.favorite === true){     %>
                                    <img onClick="this.form.submit()" value="aaa" src="/icons/imp-filled.png" class="unfilled-star star" alt="" srcset="">
                                    <input type="hidden" name="id" value="<%=element.uniqueId%>">
                                    <input type="hidden" name="favoriteStatus" value="true">
                                <% } else {   %>
                                    <img onClick="this.form.submit()" value="aaa" src="/icons/imp-unfilled.png" class="unfilled-star star" alt="" srcset="">
                                    <input type="hidden" name="id" value="<%=element.uniqueId%>">
                                    <input type="hidden" name="favoriteStatus" value="false">
                                <% }    %>
                        </form>
                    </div>
            <% });                                 %>
            <% } %>
 
            </div>
        
        <form class="add-item" action="/<%= listTitle %>" method="POST">
            <input type="text" name="newItem" autocomplete="OFF">
            <button class="newItem-btn" type="submit" name="page" value="<%=listTitle%>"> <img src="/icons/icons8-plus-64.png" alt=""> </button>
        </form>

        </div>

    </section>


    <%- include("partials/footer") -%> 

